{% extends "base.html" %}
{% block title %}About GameDex{% endblock title %}
{% block content %}
<h1>About GameDex</h1>
<p>GameDex is a tool to compile information on video games and their developers, created to document the production of the Peruvian video game industry.</p>

<p>The information has been compiled for research and archival purposes, based on information made publicly available by developers on their own websites. Design, development and data gathering have been done by <a href="http://marisca.pe">Eduardo Marisca</a> at the <a href="http://cmsw.mit.edu">MIT program in Comparative Media Studies</a>, as a component of his thesis research project on the Peruvian game industry.</p>

<p>GameDex is being developed in English for the time being, with the intention of making it available in Spanish in the near future.</p>

<hr />
<h2>Acerca de GameDex</h2>
<p>GameDex es una herramienta para compilar información sobre videojuegos y sus desarrolladores, creada para documentar la producción de la industria de videojuegos en el Perú.</p>

<p>La información ha sido recopilada con fines de investigación y de referencia, a partir de la información publicada por los desarrolladores en sus sitios web. La herramienta ha sido desarrolla y la información recogida por <a href="http://marisca.pe">Eduardo Marisca</a> en el <a href="http://cmsw.mit.edu">programa de Medios Comparados en el MIT</a>, como parte de su proyecto de investigación de tesis sobre la industria de videojuegos en el Perú.</p>

<p>El GameDex está siendo desarrollado en inglés por el momento, con la intención de hacerlo disponible también en español en el futuro cercano.</p>
{% endblock content %}
