<html>
<head>
<title>Add Game</title>
</head>

<body>
<h1>Add Game</h1>
<form action="/addgame" method="POST">
<p>Title: <input type="text" name="title"></p>
<p>Developer: <input type="text" name="developer"></p>
<p>Publisher: <input type="text" name="publisher"></p>
<p>Release Date (YYYY-MM-DD): <input type="text" name="release_date"></p>
<p>Platform(s): <select size="5" name="platforms" multiple="yes">
                {% for platform in platforms %}
                    <option value="{{ platform }}">{{ platform }}</options></p>
                {% endfor %}</select></p>
<p>Technology(ies): <select size="5" name="technologies" multiple="yes">
                    {% for tech in techs %}
                        <option value="{{ tech }}">{{ tech }}</options></p>
                    {% endfor %}</select></p>
<p>Genre: <input type="text" name="genre"></p>
<p>Development Time: <input type="text" name="dev_time"></p>
<p>Distribution: <select name="distribution">
                 {% for dist in dist_options %}
                     <option value="{{ dist }}">{{ dist }}</options></p>
                 {% endfor %}</select></p>
<p>URL: <input type="text" name="url"></p>
<p>Category: <select size="5" name="category" multiple="yes">
             {% for category in categories %}
                 <option value="{{ category }}">{{ category }}</options></p>
             {% endfor %}</select></p>
<p><input type="submit"></p>
</form>
</body>
</html>
