<html>
<head>
<title>Add Game</title>
</head>

<body>
<h1>Add Game</h1>
<form>
<p>Title: <input type="text" name="title"></p>
<p>Developer: <input type="text" name="developer"></p>
<p>Publisher: <input type="text" name="publisher"></p>
<p>Release Date (dd/mm/yyyy): <input type="text" name="release_date"></p>
<p>Platform(s): <input type="text" name="platforms"></p>
<p>Technology(ies): <input type="text" name="technologies"></p>
<p>Genre: <input type="text" name="genre"></p>
<p>Development Time: <input type="text" name="dev_time"></p>
<p>Distribution: <input type="text" name="distribution"></p>
<p>URL: <input type="text" name="url"></p>
<p>Category: <input type="text" name="category"></p>
<p><input type="submit" action="/addgame" method="POST"></p>
</form>
</body>
</html>
