<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>

<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">GameDex</a>
    <ul class="nav">
      <li><a href="/gameindex">Game Index</a></li>
      {% if auth == True %}<li><a href="/addgame">Add Game</a></li>{% endif %}
      <li><a href="/orgindex">Org Index</a></li>
      <li class="pull-right"><a href="/about">About</a></li>
    </ul>
  </div>
</div>
<div class="container">
    {% block content %}{% endblock content %}
</div>
</body>
</html>
