<html>
<head>
    <title>Game Info: {{selection.title }}</title>
</head>

<body>
<h1>{{ selection.title }}</h1>
<table>
    <tr>
        <td>Developer</td>
        <td>{% for org in selection.developer %}
                {{ org.name }}
            {% endfor %}</td>
    </tr>
    <tr>
        <td>Publisher</td>
        <td>{% for org in selection.publisher %}
                {{ org.name }}
            {% endfor %}</td>    </tr>
    <tr>
        <td>Release Date</td>
        <td>{{ selection.release_date }}</td>
    </tr>
    <tr>
        <td>Platform(s)</td>
        <td>{% for platform in selection.platforms %}
                {{ platform }}<br />
            {% endfor %}</td>
    </tr>
    <tr>
        <td>Technologies</td>
        <td>{% for technology in selection.technologies %}
                {{ technology }}<br />
            {% endfor %}</td>
    </tr>
    <tr>
        <td>Genre</td>
        <td>{{ selection.genre }}</td>
    </tr>
    <tr>
        <td>Development Time</td>
        <td>{% if selection.dev_time == None %}
                N/A
            {% else %}
                {{ selection.dev_time }} months
            {% endif %}</td>
    </tr>
    <tr>
        <td>Distribution</td>
        <td>{% if selection.distribution == None %}
                N/A
            {% else %}
                {% for dist in selection.distribution %}
                    {{ dist }}<br />
                {% endfor %}</a>
            {% endif %}</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>{% if selection.url == None %}
                N/A
            {% else %}
            <a href="{{ selection.url }}">{{ selection.url }}</a>
            {% endif %}</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>{% if selection.game_category == None %}
                N/A
            {% else %}
                {% for category in selection.game_category %}
                    {{ category }}<br />
                {% endfor %}</a>
            {% endif %}</td>
    </tr>
</table>
<div>
<h2>Notes</h2>
{% if notes == True %}
    {% for note in selection.notes %}
        <p>{{ note }}</p>
    {% endfor %}
{% else %}
    <p>There are no notes for this game.</p>
{% endif %}
<p><a href="#">Add Note</a></p>
    <div name="add-note-form">
        <form method="POST" action="/game/{{ selection.id }}/addnote">
            <p>Title: <input type="text" name="title"></p>
            <p>Note: <input type="text" name="note-text"></p>
            <input type="submit">
        </form>
    </div>
</div>
<p><a href="/gamelist">Return to Game List</a></p>

</body>
</html>

