{% extends "base.html" %}
{% block title %}GameDex{% endblock title %}
{% block content %}
<h1>GameDex</h1>
<div class="row">
<div class="span6">
<p><a href="/gameindex">Game Index</a></p>
<p><a href="/addgame">Add Game to Index</a></p>
<p><a href="https://github.com/piscosour/gamedex">View source on GitHub</a></p>
</div>
<div class="span6">
    {% if auth == False %}
        <form action="/login" method="POST" class="form-inline">
            <h3>Login</h3>
            <label>Password: </label>
            <input type="password" name="password">
            <button type="submit" class="btn btn-small">Login</button>
        </form>
    {% else %}
        <h2>Welcome!</h2>
        <p><a href="/logout">Close session</a></p>
    {% endif %}
</div>
{% endblock content %}