{% extends "base.html" %}
{% block title %}Organisation Info: {{ selection.name }}{% endblock title %}
{% block content %}
<h1>{{ selection.name }}</h1>
<div class="row">
<div name="org-info" class="span6">
    <div>
    <h2>Organisation Info</h2>
    <table class="table">
        <tr>
            <td>Start Date</td>
            <td>{{ selection.start_date }}</td>
        </tr>
        <tr>
            <td>End Date</td>
            <td>{{ selection.end_date }}</td>
        </tr>
        <tr>
            <td>Size</td>
            <td>{{ selection.size }}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{ selection.location }}</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>{{ selection.url }}</td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td>{{ selection.email }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ selection.status }}</td>
        </tr>
    </table>
    </div>
    <div name="org-games">
        <h2>Games by {{ selection.name }}</h2>
            <ul>
            {% for game in game_data if selection.id == game.developer[0] or selection.id == game.publisher[0] %}
                <li><a href="/game/{{ game.id }}">{{ game.title }}</a></li>
            {% else %}
                <li>No games found.</li>
            {% endfor %}
            </ul>
    </div>
</div>
<div name="sidebar">
    <div name="org-notes" class="span5 offset1">
        <h2>Notes</h2>
        {% if notes == True %}
            {% for note in selection.notes %}
                <div class="note">
                    <table class="table table-bordered table-condensed">
                        {% if note.title|length > 0 %}<tr><th><h4>{{ note.title }}</h4></th></tr>{% endif %}
                        <tr><td><p>{{ note.body }}</p></td></tr>
                        <tr><td><small>{{ note.timestamp_str }}</small></td></tr>
                    </table>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no notes for this organisation.</p>
        {% endif %}
        <div name="add-note-form">
            <fieldset>
            <form method="POST" action="/org/{{ selection.id }}/addnote">
                <legend>Add Note</legend>
                <label>Title</label>
                <input type="text" name="note-title"></p>
                <label>Note</label>
                <textarea rows="5" name="note-body"></textarea></p>
                <button type="submit" class="btn btn-small">Add Note</button>
            </form>
            </fieldset>
        </div>
    </div>
    <div name="org-events" class="span5 offset1">
        <h2>Events</h2>
        {% if events == True %}
            {% for event in selection.events %}
                <div class="event">
                    <table class="table table-bordered table-condensed">
                        {% if event.title|length > 0 %}<tr><th><h4>{{ event.title }}</h4></th></tr>{% endif %}
                        <tr><td><p>{{ event.body }}</p></td></tr>
                        <tr><td><small>{{ event.date }}</small></td></tr>
                    </table>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no events for this organisation.</p>
        {% endif %}
        <div name="add-event-form">
            <fieldset>
            <form method="POST" action="/org/{{ selection.id }}/addevent">
                <legend>Add Event</legend>
                <label>Title</label>
                <input type="text" name="event-title"></p>
                <label>Description</label>
                <textarea rows="5" name="event-text"></textarea></p>
                <label>Date</label>
                <input type="text" name="event-date"><br />
                <button type="submit" class="btn btn-small">Add Event</button>
            </form>
            </fieldset>
        </div>
      
    </div>
</div>
</div>
<p><a href="/orgindex">Return to Organisation Index</a></p>
{% endblock content %}